body{
    background: url('../images/background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.navbar-brand {
    font-size: 1.6rem;
}
.navbar{
    background-color: rgb(56, 49, 155)!important;
    position: sticky;
    top: 0;
    z-index: 35;
}
#head{
    font-size: 2.5em;
    text-shadow: 0 0 1px black;
}
.nav-link{
    font-size: 0.9rem!important;
}
#centerBox{
    background-color: rgba(235, 222, 222, 0.842);
    color: rgb(0, 0, 0);
}
.sitename {
    color:rgb(255, 255, 255);
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 1.5em;
}
.sitename span {
    color: #d9534f!important;
    font-weight: 700;
}
thead {
    color: white;
}
.card {
    position: relative;
}
.card .favorite-btn {
    position: absolute;
    right: -18px;
    top: 18px;
    background-color: white;
    width: 35px!important;
    height: 35px;
    border-radius: 50%;
    font-size: 22px;
    padding-left: 10px;
    color: #29ABE0;
}

.is-favorite {
    background-color:#29ABE0!important;
    color: white!important;
}


h1 {
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    font-size: 1.6rem;
}
.card-title {
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    font-size: 1.2rem;
}
.btn {
    width:100%;
}
footer{
background-color: rgb(27, 27, 27);
height: auto;
margin-top: 6em;
}
footer ul{
    display: flex;
    justify-content: space-around;
    width: 50%;
    margin: 1em auto;
}
footer ul li{
    list-style-type: none;
    color: rgb(182, 182, 182);
}
.socials{
    width: 50%;
    margin: 0 auto;
}
.socials a{
    font-size: 1.5em;
    color: white;
    
}

footer p{
    color:white!important;
}
